@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.repo-detail-wrapper {
    margin: 20px;
}

.header-btn-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.username {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.detail-box {
    padding: 20px;
    margin: 20px 0px;
    height: 200px;
    width: 500px;
    border: 0.5px solid gray;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.quick-setup-wrapper {
    border: 0.5px solid gray;
    border-radius: 10px;
    min-height: 500px;
    /* overflow: hidden; */
}

.setup-header {
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    min-height: 150px;
    border-bottom: 0.5px solid gray;
    background-color: #121c2e;
}

.create-new-command {
    padding: 20px;
}

.command-box {
    font-family: "Space Mono", monospace;
    background-color: #171a22;
    padding: 20px;
    border-radius: 10px;
    color: gray;
}

.protip {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quick-setup-btn-wrapper {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.repo-link {
    width: 100%;
    background-color: black;
    padding: 5px 20px;
    border-radius: 10px;
}

.get-started {
    display: flex;
    margin: 10px 0px;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.repo-detail-wrapper p {
    word-break: break-all;
}